<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  <body style="display: none;">
    <div class="home">
      <%- include('../partials/navbar.ejs')%>
      <%- include('../partials/carousel.ejs') %>
      <div class="contents">
        <section class="feature-container">
          <ul class="feature-list">
            <li class="list1">
              <div class="feature summersale">
                Summer sale
                <span class="summersale-label">up to 40% off</span>
              </div>
              <div class="feature force-majeure">
                  Force-majeure<br>
                  <span>Now on sale</span>
              </div>
            </li>
            <li class="list2">
                <div class="feature sneaker">
                  <div class="shadow">
                    Sneaker <br>styles
                  </div>
                </div>
            </li>
            <li class="list3">
                <div class="feature accessories">
                  Accessories
                </div>
                <div class="feature new-Arrival">
                  New arrivals
                </div>
            </li>
          </ul>
        </section>
          <section class="main-contents">
            <p class="contents-title">Line up</p>
            <p class="collapse-btn-container">
              <button class="filter-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                + add filter
              </button>
            </p>
            <div class="collapse" id="collapse">
              <ul class="filter-list">
                <li class="filter-item">
                  <%- include("../partials/select.ejs",{data:categories}) %>
                </li>
                <li class="filter-item">
                  <%- include("../partials/select.ejs",{data:type}) %>
                </li>
                <li class="filter-item">
                  <%- include("../partials/slider.ejs") %>
                </li>
                <li class="filter-item">
                  <button class="submit-btn">filter</button>
                </li>
              </ul>
            </div>
            <div class="sort-container">
              <select class="sort" name="sort">
                <option value="all">sort</optiom>
                  <option value="price">low Price</option>
                  <option value="date">new date</option>
                  <option value="highRating">high rating</option>
                </select>
              </div>
              <div class="product-container"></div>
              <div class="footer"></div>
            </section>
          </div>
          <%- include('../partials/shoppingCart.ejs')%>
     
        </div>
        <script src="bundle.js"></script>
</body>
</html>